
<html>
    <head>
        <div align = "center">
            <h1>Nodemailer App</h1>
        </div>
        <div align = "center">
        <form method = "POST" action = "/send">
            <div class="input-group justify-content-center">
                <input name = "email" type="email" class="form-control" placeholder="example@gmail.com" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                  <button class="btn btn-outline-secondary">Send</button>
                </div>
              </div>
          </form>
          </div>
    </head>
    <body>
        <div class="card" style="width: 18rem;" align = "center">
            <div class="card-body">
              <h2 class="card-title">Nodemailer</h2>
              <h6 class="card-subtitle mb-2 text-muted">API</h6>
              <p class="card-text">Nodemailer is a node.js module to interact with the SMTP and send e-mails.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
    </body>
    <link rel = "stylesheet" href = "style.css">
</html>